@model List<C_upsB.ViewModels.BasketViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    double TotalPrice = 0;
    int TotalCount = 0;
    foreach (var product in Model)
    {
        TotalPrice += product.Count * product.Price;
        TotalCount += product.Count;
        ViewBag.BasketCount = TotalCount;
    }
}
<section id="cart-wrapper">
    <div class="container" style="height: 100% !important;">
        <div class="row">
            <div class="cart-header">
                <h1>Cart</h1>
                <div class="cont-shopping">
                    <a href="/menu.html">
                        Continue shopping
                    </a>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-12">
                        
                    <form action="">
                        <div class="cart-item-headers">
                            <div class="cart-item-quantity">Quantity</div>
                            <div class="cart-item-price">Price</div>
                        </div>
                        <div class="cart-items">
                            <div class="cart-item">
                                <div class="cart-item-image">
                                    <a href="">
                                        <img src="~/images/@item.Image" alt="">
                                    </a>
                                </div>
                                <div class="cart-item-detail">
                                    <div class="cart-item-name">
                                        <p>@Html.Raw(item.Name)</p>
                                    </div>
                                    <div class="cart-item-quantity">
                                        <td>@item.Count</td>
                                        <td>
                                            <a asp-controller="Basket" asp-action="IncreaseProduct" asp-route-id="@item.Id" class="btn btn-primary btn-success">+</a>
                                        </td>
                                        <td>
                                            <a asp-controller="Basket" asp-action="DecreaseProduct" asp-route-id="@item.Id" class="btn btn-primary btn-danger">-</a>
                                        </td>
                                    </div>
                                    <div class="cart-item-price">
                                        <span class="cart__price">$ @item.Price</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="cart-checkout d-flex">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="cart-footer">
                                            <div class="order-note">
                                                <label for="CartNote">Order note</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="cart-item-sub">
                                            <div class="cart-subtotal">Subtotal</div>
                                            <div>$ @TotalPrice</div>
                                        </div>
                                        <div class="cart-checkout-btn">
                                            <button type=submit>
                                                Check out
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</section>
<style>
   .cart-item-quantity{
    display: flex;
    gap: 20px;
    }
</style>
